/*universal css*/
html{
  font-size: 16px;

}

body{
  font-family: 'Playfair Display', serif;
}
/*navbar*/
#navbarNavDropdown{
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
/*jumbotron*/
.jumbotron{
  background-image: url(../images/pexels-photo-247676.jpeg);
  background-position: center;
  background-attachment: fixed;
  color: white;
  text-align: center;
}
/*projects section*/
#protfolio{
  background-color: hsla(221, 89%, 35%, .1);
}

#protfolio-img:hover{
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

/*contact info*/
.fa-envelope,
.fa-rebel,
.fa-github,
.fa-facebook{
  color: black;
}

.fa-envelope:hover,
.fa-rebel:hover,
.fa-github:hover,
.fa-facebook:hover{
  color: gray;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}
/*footer section*/
footer{
  color: white;
  background-image: url(../images/pexels-photo-247676.jpeg);
  background-position: center;
  background-attachment: fixed;
  padding: 32px;
  padding: 2rem;
}

/*about me page*/
#broken{
  text-align: center;
}
